html
  box-sizing: border-box

*
  box-sizing: inherit

  &::before, &::after
    box-sizing: inherit

  margin: 0
  padding: 0

.section-title
  font-weight: 500
  font-size: 35px
  line-height: 42px
  position: relative
  padding-bottom: 10px

  &::after
    content: ''
    display: block
    width: 253px
    height: 3px
    background-color: #0E1D28
    position: absolute
    left: 0
    bottom: 0

body
  font-family: 'Lato', sans-serif
  font-style: normal
  font-size: 16px
  font-weight: normal
  line-height: 1.2
  color: #0E1D28

img
  max-width: 100%
  height: auto

.wrapper
  max-width: 1060px
  margin: 0 auto
  padding: 0 15px

.wrapper-main
  max-width: 1262px
  margin: 0 auto
  padding: 0 15px

/* header

header
  position: fixed
  top: 0
  left: 0
  width: 100%
  transition: 0.2s linear
  padding-bottom: 20px
  z-index: 999

.header-scroll
  background: #0E1D28

.header_wrapper
  padding-top: 56px
  display: flex
  flex-wrap: wrap
  align-items: flex-end
  justify-content: space-between

.header-nav-list
  display: flex
  flex-wrap: wrap

.header-list-item
  margin-right: 82px

  &:last-child
    margin-right: 0

li
  list-style-type: none

.header_link
  text-decoration: none
  font-weight: 400
  font-size: 18px
  line-height: 24px
  color: #FFFFFF

  &:hover, &:focus, &:active
    opacity: 0.75
    color: orange

.header-burger
  display: none
  width: 40px
  height: 28px
  position: relative

.burger-line
  position: absolute
  display: block
  left: 0
  width: 100%
  height: 2px
  background: white

.burger-line_first
  top: 0

.burger-line_second
  top: 50%
  transform: translateY(-50%)

.burger-line_third
  bottom: 0

/* header end

/* main start

.main-intro
  min-height: 800px
  background: url("/Japan/examen_css_html_frontend-2/images/bg2.jpg") no-repeat center
  background-size: cover
  padding-top: 263px
  padding-bottom: 223px

.main-intro-title
  max-width: 619px
  font-weight: 500
  font-size: 50px
  line-height: 60px
  color: white
  margin-bottom: 22px

.main-intro-subtitle
  max-width: 546px
  font-size: 16px
  line-height: 24px
  color: white
  margin-bottom: 59px

.main-today-place
  margin-top: 150px

.main-today-title
  margin-bottom: 54px

.main-today-card
  display: flex
  flex-direction: row
  grid-column: span 1

.main-today-cards
  display: grid
  grid-template-columns: repeat(3, 1fr)
  column-gap: 57px
  row-gap: 57px

.main-today-card-img
  position: relative
  margin-bottom: 45px

.main-card-thumb
  border-radius: 50%

/* main end

/* tours-today

.location-tour
  margin-bottom: 86px

.location-title
  margin-bottom: 40px
  margin-top: 40px

.location-card
  display: flex
  flex-direction: column
  grid-column: span 2

.location-cards
  display: grid
  grid-template-columns: repeat(6, 1fr)
  column-gap: 57px
  row-gap: 57px

.location-card-img
  position: relative
  margin-bottom: 45px

.location-card-stat
  display: flex
  flex-wrap: wrap
  align-items: self-start
  position: absolute
  bottom: 0
  left: 0
  justify-content: flex-start
  padding: 16px 25px
  background: #0E1D28
  width: 100%
  opacity: 0.75

.location-card-title
  margin: 0 auto 0 0
  font-weight: 500
  font-size: 18px
  line-height: 24px
  color: #FFFFFF
  padding-right: 10px

.location-card-description
  overflow: hidden
  height: 300px
  font-family: "Lato", sans-serif
  font-weight: 400
  font-size: 16px
  line-height: 22px
  padding: 10px 20px
  margin-bottom: 31px
  text-align: left

\::-webkit-scrollbar
  width: 2px
  background-color: #0E1D28

.location-card-description:hover
  overflow: auto
  box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993)

/* tours-today end

/* footer

footer
  background: #0E1D28
  padding: 199px 0

.footer-item
  display: flex
  flex-wrap: wrap

.footer-logo
  flex-grow: 1

.footer-nav
  display: flex
  flex-wrap: wrap
  flex-grow: 1
  justify-content: space-between

.footer-menu-title
  font-weight: 500
  font-size: 18px
  line-height: 24px
  color: #FFFFFF

.footer-menu-link
  font-weight: 400
  font-size: 16px
  line-height: 24px
  text-decoration: none
  color: #FFFFFF

  &:hover, &:focus, &:active, &:visited
    color: #D67E35

/* footer  end

/* Media
@media screen and (max-width: 960px)
  .location-card-stat
    display: flex
    flex-wrap: wrap
    align-items: self-start
    position: absolute
    bottom: 0
    left: 0
    justify-content: flex-start
    padding: 16px 25px
    background: #0E1D28
    width: 386px
    opacity: 0.75

  /* Benefits

  .benefits
    margin-bottom: 75px

  .benefits-card
    margin-bottom: 30px

  .benefits-wrap
    box-shadow: none

  .benefits-card
    padding: 0 15px
    column-gap: 35px

  .benefits-title
    padding: 55px 15px

  /* Benefits  end
  /* Today-tours

  .location-cards
    column-gap: 25px
    row-gap: 55px

  .main-intro
    padding-bottom: 10px

  .main-today-cards
    margin: 0 auto

  .main-today-card
    padding-top: 10px
    grid-column: span 2

  .location-card
    grid-column: span 3

  .location-card-img
    margin-bottom: 25px

  /* Today-tours end

  footer
    padding: 60px 0

@media screen and (max-width: 767px)
  /* Titles

  .section-title
    margin-bottom: 25px

    &::after
      width: 78px

  /* Titles end
  /* header

  .header_wrapper
    padding-top: 28px

  /* burger

  .header-burger
    display: block

  .header-nav
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: #0E1D28
    z-index: 10
    padding: 75px
    transform: translateX(100%)
    transition: 0.2s linear

  .header-nav-active
    transform: translateX(0)

  .header-list-item
    width: 100%
    margin-right: 0
    margin-bottom: 30px

    &:last-child
      margin-bottom: 0

  .header_link
    font-size: 42px
    line-height: 48px

  .header-nav-close
    position: absolute
    width: 40px
    height: 40px
    top: 20px
    right: 20px
    z-index: 11

  .header-nav-close-line
    width: 100%
    display: block
    top: 50%
    height: 2px
    background: white
    position: absolute

    &:first-child
      transform: translateY(-50%) rotate(45deg)

    &:last-child
      transform: translateY(-50%) rotate(-45deg)

  /* burger  end
  /* header  end
  /* intro

  .main-intro
    padding-top: 125px

  .main-intro-title
    font-size: 32px
    line-height: 48px

  .main-intro-subtitle
    font-size: 16px

  /* Today Tours

  .location-tour
    margin-bottom: 76px

  .location-card
    grid-column: span 6

  .today-card-stat
    max-width: 386px

  .today-card-description
    margin-bottom: 15px

  /* Today Tours end
  /* footer

  .footer-logo
    width: 100%
    margin-bottom: 24px

  .footer-nav
    width: 100%

  .footer-menu
    width: 50%
    margin-bottom: 24px

/* footer end

@media screen and (max-width: 500px)
  .header-nav
    padding: 75px 30px

/* Media endhtml
  box-sizing: border-box

*
  box-sizing: inherit

  &::before, &::after
    box-sizing: inherit

  margin: 0
  padding: 0

.section-title
  font-weight: 500
  font-size: 35px
  line-height: 42px
  position: relative
  padding-bottom: 10px

  &::after
    content: ''
    display: block
    width: 253px
    height: 3px
    background-color: #0E1D28
    position: absolute
    left: 0
    bottom: 0

body
  font-family: 'Lato', sans-serif
  font-style: normal
  font-size: 16px
  font-weight: normal
  line-height: 1.2
  color: #0E1D28

img
  max-width: 100%
  height: auto

.wrapper
  max-width: 1060px
  margin: 0 auto
  padding: 0 15px

.wrapper-main
  max-width: 1262px
  margin: 0 auto
  padding: 0 15px

/* header

header
  position: fixed
  top: 0
  left: 0
  width: 100%
  transition: 0.2s linear
  padding-bottom: 20px
  z-index: 999

.header-scroll
  background: #0E1D28

.header_wrapper
  padding-top: 56px
  display: flex
  flex-wrap: wrap
  align-items: flex-end
  justify-content: space-between

.header-nav-list
  display: flex
  flex-wrap: wrap

.header-list-item
  margin-right: 82px

  &:last-child
    margin-right: 0

li
  list-style-type: none

.header_link
  text-decoration: none
  font-weight: 400
  font-size: 18px
  line-height: 24px
  color: #FFFFFF

  &:hover, &:focus, &:active
    opacity: 0.75
    color: orange

.header-burger
  display: none
  width: 40px
  height: 28px
  position: relative

.burger-line
  position: absolute
  display: block
  left: 0
  width: 100%
  height: 2px
  background: white

.burger-line_first
  top: 0

.burger-line_second
  top: 50%
  transform: translateY(-50%)

.burger-line_third
  bottom: 0

/* header end

/* main start

.main-intro
  min-height: 800px
  background: url("/Japan/examen_css_html_frontend-2/images/bg2.jpg") no-repeat center
  background-size: cover
  padding-top: 263px
  padding-bottom: 223px

.main-intro-title
  max-width: 619px
  font-weight: 500
  font-size: 50px
  line-height: 60px
  color: white
  margin-bottom: 22px

.main-intro-subtitle
  max-width: 546px
  font-size: 16px
  line-height: 24px
  color: white
  margin-bottom: 59px

.main-today-place
  margin-top: 150px

.main-today-title
  margin-bottom: 54px

.main-today-card
  display: flex
  flex-direction: row
  grid-column: span 1

.main-today-cards
  display: grid
  grid-template-columns: repeat(3, 1fr)
  column-gap: 57px
  row-gap: 57px

.main-today-card-img
  position: relative
  margin-bottom: 45px

.main-card-thumb
  border-radius: 50%

/* main end

/* tours-today

.location-tour
  margin-bottom: 86px

.location-title
  margin-bottom: 40px
  margin-top: 40px

.location-card
  display: flex
  flex-direction: column
  grid-column: span 2

.location-cards
  display: grid
  grid-template-columns: repeat(6, 1fr)
  column-gap: 57px
  row-gap: 57px

.location-card-img
  position: relative
  margin-bottom: 45px

.location-card-stat
  display: flex
  flex-wrap: wrap
  align-items: self-start
  position: absolute
  bottom: 0
  left: 0
  justify-content: flex-start
  padding: 16px 25px
  background: #0E1D28
  width: 100%
  opacity: 0.75

.location-card-title
  margin: 0 auto 0 0
  font-weight: 500
  font-size: 18px
  line-height: 24px
  color: #FFFFFF
  padding-right: 10px

.location-card-description
  overflow: hidden
  height: 300px
  font-family: "Lato", sans-serif
  font-weight: 400
  font-size: 16px
  line-height: 22px
  padding: 10px 20px
  margin-bottom: 31px
  text-align: left

\::-webkit-scrollbar
  width: 2px
  background-color: #0E1D28

.location-card-description:hover
  overflow: auto
  box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993)

/* tours-today end

/* footer

footer
  background: #0E1D28
  padding: 199px 0

.footer-item
  display: flex
  flex-wrap: wrap

.footer-logo
  flex-grow: 1

.footer-nav
  display: flex
  flex-wrap: wrap
  flex-grow: 1
  justify-content: space-between

.footer-menu-title
  font-weight: 500
  font-size: 18px
  line-height: 24px
  color: #FFFFFF

.footer-menu-link
  font-weight: 400
  font-size: 16px
  line-height: 24px
  text-decoration: none
  color: #FFFFFF

  &:hover, &:focus, &:active, &:visited
    color: #D67E35

/* footer  end

/* Media
@media screen and (max-width: 960px)
  .location-card-stat
    display: flex
    flex-wrap: wrap
    align-items: self-start
    position: absolute
    bottom: 0
    left: 0
    justify-content: flex-start
    padding: 16px 25px
    background: #0E1D28
    width: 386px
    opacity: 0.75

  /* Benefits

  .benefits
    margin-bottom: 75px

  .benefits-card
    margin-bottom: 30px

  .benefits-wrap
    box-shadow: none

  .benefits-card
    padding: 0 15px
    column-gap: 35px

  .benefits-title
    padding: 55px 15px

  /* Benefits  end
  /* Today-tours

  .location-cards
    column-gap: 25px
    row-gap: 55px

  .main-intro
    padding-bottom: 10px

  .main-today-cards
    margin: 0 auto

  .main-today-card
    padding-top: 10px
    grid-column: span 2

  .location-card
    grid-column: span 3

  .location-card-img
    margin-bottom: 25px

  /* Today-tours end

  footer
    padding: 60px 0

@media screen and (max-width: 767px)
  /* Titles

  .section-title
    margin-bottom: 25px

    &::after
      width: 78px

  /* Titles end
  /* header

  .header_wrapper
    padding-top: 28px

  /* burger

  .header-burger
    display: block

  .header-nav
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: #0E1D28
    z-index: 10
    padding: 75px
    transform: translateX(100%)
    transition: 0.2s linear

  .header-nav-active
    transform: translateX(0)

  .header-list-item
    width: 100%
    margin-right: 0
    margin-bottom: 30px

    &:last-child
      margin-bottom: 0

  .header_link
    font-size: 42px
    line-height: 48px

  .header-nav-close
    position: absolute
    width: 40px
    height: 40px
    top: 20px
    right: 20px
    z-index: 11

  .header-nav-close-line
    width: 100%
    display: block
    top: 50%
    height: 2px
    background: white
    position: absolute

    &:first-child
      transform: translateY(-50%) rotate(45deg)

    &:last-child
      transform: translateY(-50%) rotate(-45deg)

  /* burger  end
  /* header  end
  /* intro

  .main-intro
    padding-top: 125px

  .main-intro-title
    font-size: 32px
    line-height: 48px

  .main-intro-subtitle
    font-size: 16px

  /* Today Tours

  .location-tour
    margin-bottom: 76px

  .location-card
    grid-column: span 6

  .today-card-stat
    max-width: 386px

  .today-card-description
    margin-bottom: 15px

  /* Today Tours end
  /* footer

  .footer-logo
    width: 100%
    margin-bottom: 24px

  .footer-nav
    width: 100%

  .footer-menu
    width: 50%
    margin-bottom: 24px

/* footer end

@media screen and (max-width: 500px)
  .header-nav
    padding: 75px 30px

/* Media endhtml
  box-sizing: border-box

*
  box-sizing: inherit

  &::before, &::after
    box-sizing: inherit

  margin: 0
  padding: 0

.section-title
  font-weight: 500
  font-size: 35px
  line-height: 42px
  position: relative
  padding-bottom: 10px

  &::after
    content: ''
    display: block
    width: 253px
    height: 3px
    background-color: #0E1D28
    position: absolute
    left: 0
    bottom: 0

body
  font-family: 'Lato', sans-serif
  font-style: normal
  font-size: 16px
  font-weight: normal
  line-height: 1.2
  color: #0E1D28

img
  max-width: 100%
  height: auto

.wrapper
  max-width: 1060px
  margin: 0 auto
  padding: 0 15px

.wrapper-main
  max-width: 1262px
  margin: 0 auto
  padding: 0 15px

/* header

header
  position: fixed
  top: 0
  left: 0
  width: 100%
  transition: 0.2s linear
  padding-bottom: 20px
  z-index: 999

.header-scroll
  background: #0E1D28

.header_wrapper
  padding-top: 56px
  display: flex
  flex-wrap: wrap
  align-items: flex-end
  justify-content: space-between

.header-nav-list
  display: flex
  flex-wrap: wrap

.header-list-item
  margin-right: 82px

  &:last-child
    margin-right: 0

li
  list-style-type: none

.header_link
  text-decoration: none
  font-weight: 400
  font-size: 18px
  line-height: 24px
  color: #FFFFFF

  &:hover, &:focus, &:active
    opacity: 0.75
    color: orange

.header-burger
  display: none
  width: 40px
  height: 28px
  position: relative

.burger-line
  position: absolute
  display: block
  left: 0
  width: 100%
  height: 2px
  background: white

.burger-line_first
  top: 0

.burger-line_second
  top: 50%
  transform: translateY(-50%)

.burger-line_third
  bottom: 0

/* header end

/* main start

.main-intro
  min-height: 800px
  background: url("/Japan/examen_css_html_frontend-2/images/bg2.jpg") no-repeat center
  background-size: cover
  padding-top: 263px
  padding-bottom: 223px

.main-intro-title
  max-width: 619px
  font-weight: 500
  font-size: 50px
  line-height: 60px
  color: white
  margin-bottom: 22px

.main-intro-subtitle
  max-width: 546px
  font-size: 16px
  line-height: 24px
  color: white
  margin-bottom: 59px

.main-today-place
  margin-top: 150px

.main-today-title
  margin-bottom: 54px

.main-today-card
  display: flex
  flex-direction: row
  grid-column: span 1

.main-today-cards
  display: grid
  grid-template-columns: repeat(3, 1fr)
  column-gap: 57px
  row-gap: 57px

.main-today-card-img
  position: relative
  margin-bottom: 45px

.main-card-thumb
  border-radius: 50%

/* main end

/* tours-today

.location-tour
  margin-bottom: 86px

.location-title
  margin-bottom: 40px
  margin-top: 40px

.location-card
  display: flex
  flex-direction: column
  grid-column: span 2

.location-cards
  display: grid
  grid-template-columns: repeat(6, 1fr)
  column-gap: 57px
  row-gap: 57px

.location-card-img
  position: relative
  margin-bottom: 45px

.location-card-stat
  display: flex
  flex-wrap: wrap
  align-items: self-start
  position: absolute
  bottom: 0
  left: 0
  justify-content: flex-start
  padding: 16px 25px
  background: #0E1D28
  width: 100%
  opacity: 0.75

.location-card-title
  margin: 0 auto 0 0
  font-weight: 500
  font-size: 18px
  line-height: 24px
  color: #FFFFFF
  padding-right: 10px

.location-card-description
  overflow: hidden
  height: 300px
  font-family: "Lato", sans-serif
  font-weight: 400
  font-size: 16px
  line-height: 22px
  padding: 10px 20px
  margin-bottom: 31px
  text-align: left

\::-webkit-scrollbar
  width: 2px
  background-color: #0E1D28

.location-card-description:hover
  overflow: auto
  box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993)

/* tours-today end

/* footer

footer
  background: #0E1D28
  padding: 199px 0

.footer-item
  display: flex
  flex-wrap: wrap

.footer-logo
  flex-grow: 1

.footer-nav
  display: flex
  flex-wrap: wrap
  flex-grow: 1
  justify-content: space-between

.footer-menu-title
  font-weight: 500
  font-size: 18px
  line-height: 24px
  color: #FFFFFF

.footer-menu-link
  font-weight: 400
  font-size: 16px
  line-height: 24px
  text-decoration: none
  color: #FFFFFF

  &:hover, &:focus, &:active, &:visited
    color: #D67E35

/* footer  end

/* Media
@media screen and (max-width: 960px)
  .location-card-stat
    display: flex
    flex-wrap: wrap
    align-items: self-start
    position: absolute
    bottom: 0
    left: 0
    justify-content: flex-start
    padding: 16px 25px
    background: #0E1D28
    width: 386px
    opacity: 0.75

  /* Benefits

  .benefits
    margin-bottom: 75px

  .benefits-card
    margin-bottom: 30px

  .benefits-wrap
    box-shadow: none

  .benefits-card
    padding: 0 15px
    column-gap: 35px

  .benefits-title
    padding: 55px 15px

  /* Benefits  end
  /* Today-tours

  .location-cards
    column-gap: 25px
    row-gap: 55px

  .main-intro
    padding-bottom: 10px

  .main-today-cards
    margin: 0 auto

  .main-today-card
    padding-top: 10px
    grid-column: span 2

  .location-card
    grid-column: span 3

  .location-card-img
    margin-bottom: 25px

  /* Today-tours end

  footer
    padding: 60px 0

@media screen and (max-width: 767px)
  /* Titles

  .section-title
    margin-bottom: 25px

    &::after
      width: 78px

  /* Titles end
  /* header

  .header_wrapper
    padding-top: 28px

  /* burger

  .header-burger
    display: block

  .header-nav
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: #0E1D28
    z-index: 10
    padding: 75px
    transform: translateX(100%)
    transition: 0.2s linear

  .header-nav-active
    transform: translateX(0)

  .header-list-item
    width: 100%
    margin-right: 0
    margin-bottom: 30px

    &:last-child
      margin-bottom: 0

  .header_link
    font-size: 42px
    line-height: 48px

  .header-nav-close
    position: absolute
    width: 40px
    height: 40px
    top: 20px
    right: 20px
    z-index: 11

  .header-nav-close-line
    width: 100%
    display: block
    top: 50%
    height: 2px
    background: white
    position: absolute

    &:first-child
      transform: translateY(-50%) rotate(45deg)

    &:last-child
      transform: translateY(-50%) rotate(-45deg)

  /* burger  end
  /* header  end
  /* intro

  .main-intro
    padding-top: 125px

  .main-intro-title
    font-size: 32px
    line-height: 48px

  .main-intro-subtitle
    font-size: 16px

  /* Today Tours

  .location-tour
    margin-bottom: 76px

  .location-card
    grid-column: span 6

  .today-card-stat
    max-width: 386px

  .today-card-description
    margin-bottom: 15px

  /* Today Tours end
  /* footer

  .footer-logo
    width: 100%
    margin-bottom: 24px

  .footer-nav
    width: 100%

  .footer-menu
    width: 50%
    margin-bottom: 24px

/* footer end

@media screen and (max-width: 500px)
  .header-nav
    padding: 75px 30px

/* Media end