html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
*::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  color: #0E1D28;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper-main {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.2s linear;
  padding-bottom: 20px;
  z-index: 999;
}

.header-scroll {
  background: #0E1D28;
}

.header_wrapper {
  padding-top: 56px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.header-nav-list {
  display: flex;
  flex-wrap: wrap;
}

.header-list-item {
  margin-right: 82px;
}
.header-list-item:last-child {
  margin-right: 0;
}

li {
  list-style-type: none;
}

.header_link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.header_link:hover, .header_link:focus, .header_link:active {
  opacity: 0.75;
  color: orange;
}

.header-burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}

.burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
}

.burger-line_first {
  top: 0;
}

.burger-line_second {
  top: 50%;
  transform: translateY(-50%);
}

.burger-line_third {
  bottom: 0;
}

/* header end */
.section-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}
.section-title::after {
  content: "";
  display: block;
  width: 253px;
  height: 3px;
  background-color: #102746;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* main start */
.main-intro {
  min-height: 100vh;
  background: url("../images/bg4.jpg") no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 223px;
}

.main-intro-title {
  margin: 0 auto;
  padding-top: 300px;
  display: flex;
  max-width: 619px;
  font-size: 100px;
  line-height: 60px;
  color: white;
  justify-content: center;
}

/* main end */
.benefits {
  margin-bottom: 131px;
}

.phone {
  text-decoration: none;
  color: #FF7400;
}

.benefits-wrap {
  max-width: 1262px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}

.benefits-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  padding: 0 100px;
}

.benefits-title {
  width: 100%;
  position: absolute;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: white;
}

.benefits-title-bot {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding-top: 20px;
  margin-bottom: 40px;
  padding-left: 30px;
  background-color: white;
}

.benefits-card {
  margin-bottom: 112px;
  grid-column: span 1;
}

.benefits-card-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
}

.benefits-card-thumb {
  display: block;
}

.benefits-card-title {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}

.benefits-card-description {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

/* info */
.info__wrap {
  margin-bottom: 112px;
  grid-column: span 1;
  box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
}

.info__card-img {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
}

.info__title {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}

.info__text {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

/*end benefits */
/* tours-today */
.tours-today {
  margin-bottom: 86px;
}

.today-title {
  margin-bottom: 54px;
}

.today-card {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
}

.today-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 57px;
  row-gap: 57px;
}

.today-card-img {
  position: relative;
  margin-bottom: 20px;
}

.today-card-stat {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #0E1D28;
  align-items: self-start;
  justify-content: flex-start;
  padding: 16px;
  border-radius: 20px;
}

.today-card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  padding-right: 10px;
}

.today-card-stat_like {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  padding-right: 20px;
  margin-right: 14px;
}

.today-card-stat_comment {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  padding-right: 23px;
}

.today-card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
}

.today-card-thumb {
  border-radius: 20%;
}
.today-card-thumb:hover {
  transform: scale(1.05);
}

/* tours-today end */
.contacts {
  /* padding: 100px 0; */
  padding-bottom: 200px;
  max-width: 1262px;
  /* align-items: center; */
  margin: 0 auto;
}

.container {
  box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
}

.block__title {
  padding-top: 40px;
  text-align: center;
}

.contacts .block__title {
  margin-bottom: 40px;
}

.contacts__form {
  max-width: 100%;
}

.form__row {
  display: flex;
}

.form__group {
  margin-bottom: 30px;
  padding: 0 20px;
  flex: 1;
  position: relative;
}

.input {
  width: 100%;
  padding: 9px 0;
  outline: 0;
  border: 0;
  color: #0E1D28;
  font-family: inherit;
  font-weight: 400;
  font-size: 15px;
  border-bottom: 1px solid #102746;
  background-color: transparent;
}
.input:focus + .label, .input:not(:placeholder-shown) + .label {
  transform: translateY(-15px);
  font-size: 12px;
  color: #FF7400;
}

.label {
  letter-spacing: 0.15em;
  color: #0E1D28;
  position: absolute;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  top: 10px;
  left: 20px;
  pointer-events: none;
  transition: all 0.2s ease;
}

.textarea {
  min-height: 130px;
  width: 100%;
  padding: 9px 0;
  resize: vertical;
  outline: 0;
  border: 0;
  color: #0E1D28;
  font-family: inherit;
  font-size: 15px;
  border-bottom: 1px solid #0E1D28;
  background-color: transparent;
}
.textarea:focus + .label, .textarea:not(:placeholder-shown) + .label {
  transform: translateY(-15px);
  font-size: 12px;
  color: #FF7400;
}

.search-form-submit {
  margin: 15px 15px;
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
  color: white;
  background: #0E1D28;
  border: 0;
}
.search-form-submit:hover, .search-form-submit:focus, .search-form-submit:active {
  background: #FF7400;
}

/* footer */
footer {
  background: #0E1D28;
  padding: 199px 0;
}

.footer-item {
  display: flex;
  flex-wrap: wrap;
}

.footer-logo {
  flex-grow: 1;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
}

.footer-menu-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer-menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #FFFFFF;
}
.footer-menu-link:hover, .footer-menu-link:focus, .footer-menu-link:active, .footer-menu-link:visited {
  color: #D67E35;
}

/* footer  end */
/* Media */
@media screen and (max-width: 960px) {
  /* Benefits */
  .benefits {
    margin-bottom: 75px;
  }
  .benefits-card, .info__wrap {
    margin-bottom: 30px;
    grid-column: span 3;
  }
  .benefits-wrap {
    box-shadow: none;
  }
  .benefits-card {
    padding: 0 15px;
    column-gap: 35px;
  }
  .benefits-title {
    padding: 55px 15px;
  }
  /* Benefits  end */
  /* Today-tours */
  .today-cards {
    column-gap: 25px;
    row-gap: 55px;
  }
  .today-card {
    grid-column: span 3;
  }
  .today-card-img {
    margin-bottom: 25px;
  }
  /* Today-tours end */
  footer {
    padding: 60px 0;
  }
}
@media screen and (max-width: 767px) {
  /* Titles */
  .section-title {
    margin-bottom: 25px;
  }
  .section-title::after {
    width: 78px;
  }
  /* Titles end */
  /* header */
  .header_wrapper {
    padding-top: 28px;
  }
  /* burger */
  .header-burger {
    display: block;
  }
  .header-nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0E1D28;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: 0.2s linear;
  }
  .header-nav-active {
    transform: translateX(0);
  }
  .header-list-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header-list-item:last-child {
    margin-bottom: 0;
  }
  .header_link {
    font-size: 42px;
    line-height: 48px;
  }
  .header-nav-close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    z-index: 11;
  }
  .header-nav-close-line {
    width: 100%;
    display: block;
    top: 50%;
    height: 2px;
    background: white;
    position: absolute;
  }
  .header-nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
  .header-nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
  /* burger  end */
  /* header  end */
  /* intro */
  .main-intro {
    padding-top: 125px;
  }
  .main-intro-title {
    font-size: 32px;
    line-height: 48px;
  }
  .main-intro-subtitle {
    font-size: 16px;
  }
  /* Benefits */
  .benefits {
    margin-bottom: 36px;
  }
  .benefits-cards {
    padding: 0;
  }
  .info__wrap, .benefits-card {
    grid-column: span 3;
    margin-bottom: 40px;
  }
  .benefits-card-icons {
    margin-bottom: 20px;
  }
  .benefits-card-title {
    margin-bottom: 12px;
  }
  .benefits-card-description {
    margin-bottom: 20px;
  }
  /* Benefits end */
  /* Today Tours */
  .today-tour {
    margin-bottom: 76px;
  }
  .today-card {
    grid-column: span 6;
  }
  .today-card-stat {
    background-color: #102746;
    max-width: 386px;
  }
  .today-card-description {
    margin-bottom: 15px;
  }
  /* Today Tours end */
  /* footer */
  .footer-logo {
    width: 100%;
    margin-bottom: 24px;
  }
  .footer-nav {
    width: 100%;
  }
  .footer-menu {
    width: 50%;
    margin-bottom: 24px;
  }
}
/* footer end */
@media screen and (max-width: 500px) {
  .header-nav {
    padding: 75px 30px;
  }
}
/* Media end */

/*# sourceMappingURL=about-us.css.map */
